doctype html
html
  head
    style.
      .org {}
      .repo {margin-left: 3em;}
      .has_issues {display: inline-block; padding-left: 0.3em;}
      .milestone {margin-left: 6em;}
      .milestone > .title {display: inline-block;}
      .milestone > .number {display: inline-block; padding-left: 0.3em;}
      .issue {margin-left: 9em;}
      .issue > .number {display: inline-block;}
      .issue > .state {display: inline-block; padding-left: 0.3em;}
      .issue > .title {display: inline-block; padding-left: 0.3em;}
      .issue > .label {display: inline-block; padding-left: 0.3em;}
      .issue > .body {font-size: 60%; white-space: pre-wrap;}
      .issue > .comment {font-size: 60%;}
      .issue > .comment > .user {display: inline-block; font-weight: bold;}
      .issue > .comment > .updated_at {display: inline-block; padding-left: 0.3em;}
      .issue > .comment > .body {margin-left: 3em; white-space: pre-wrap;}
  body
    h1 github api testbed

    h2 APIs
    p: a(href="https://developer.github.com/v3/") GitHub API
    p: a(href="https://developer.github.com/v3/oauth/") GitHub API OAuth

    h2 Modules
    p: a(href="https://github.com/mikeal/request") request module

    h2 Registration
    p: a(href="https://github.com/settings/applications/99651") github-embd application

    h2 identity
    h2 authentication
    a(href="#{authorize_uri}") authorize

    //
      h2 repos
      for repo in repos
        .repo= repo.full_name

    if orgs
      h2 results
      for org in orgs
        .org= org.login
        for repo in org.repos
          .repo= repo.full_name
            if repo.has_issues
              .has_issues (has issues)
          for milestone in repo.milestones
            .milestone
              .title= milestone.title
              if milestone.number != "none"
                .number ##{milestone.number}
            for issue in milestone.issues
              .issue
                .number= issue.number
                .state= issue.state
                .title= issue.title
                for label in issue.labels
                  .label [#{label.name}]
                .body= issue.body
                for comment in issue.comments
                  .comment
                    .user= comment.user.login
                    .updated_at= comment.updated_at
                    .body= comment.body
    h2 errors
    pre= inspect(err)
